body {
  background: papayawhip;
}

.container{
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100vh;
  justify-content: space-around;
  
}

.container2{
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
.a {
  width: 100%;
  margin: 10px;
  background-color: orange;
}

.b{
  min-height: 15em;
  flex-basis: auto;
  width: 100%;
  margin: 10px;
  background-color: rosybrown;
}

.c {
  flex-grow: 1;
  margin: 10px;
  background-color: brown;
}

.d {
  flex-grow: 1;
  margin: 10px;
  background-color: olive;
}

.e {
  flex-grow: 1;
  margin: 10px;
  background-color: yellow;
}

.f {
  width: 100%;
  margin: 10px;
  background-color: paleturquoise;
}




@media (min-width: 600px) {
  .container{
    background-color: gray;
    display: flex;
    min-height: 100vh;
    /* flex-direction: row; */
    /* flex-wrap: wrap;     */
  }

  .container2{
    background-color: gray;
    display: flex;    
  }

  .a {
    margin: 10px;
    background-color: orange;
    /* width: 100%; */
  }
  
  .b{
    margin: 10px;
    /* flex-grow: 4; */
    background-color: rosybrown;
  }
  
  .c {
    margin: 10px;
    /* flex-grow: 1; */
    background-color: brown;
  }

  .d {
    margin: 10px;
    /* flex-grow: 1; */
    background-color: olive;
  }
  
  .e {
    margin: 10px;
    /* flex-grow: 1; */
    background-color: yellow;
  }
  
  .f {
    margin: 10px;
    /* flex-grow: 1; */
    background-color: paleturquoise;
  }
  

}